<div class="login-container">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <p>
          <mat-form-field>
            <input type="email" matInput placeholder="Username" formControlName="email">
          </mat-form-field>

        </p>

        <div
        *ngIf="loginForm.get('email')!.invalid && (loginForm.get('email')!.dirty || loginForm.get('email')!.touched)">
        <small class="form-text text-danger" *ngIf="loginForm.get('email')?.errors?.['required']">
            Your email is required.
        </small>

        <small class="form-text text-danger" *ngIf="loginForm.get('email')?.errors?.['pattern']">
            Your email is invalid.
        </small>

        <small class="form-text text-danger" *ngIf="loginForm.get('email')?.errors?.['minlength']">
            Your email is required to be at least 5 characters.
        </small>

        <small class="form-text text-danger" *ngIf="loginForm.get('email')?.errors?.['maxlength']">
            Your email cannot be longer than 100 characters.
        </small>
    </div>
        <p>
          <mat-form-field>
            <input type="password" matInput placeholder="Password" formControlName="password">
          </mat-form-field>
        </p>


        <div
        *ngIf="loginForm.get('password')!.invalid && (loginForm.get('password')!.dirty || loginForm.get('password')!.touched)">
        <small class="form-text text-danger" *ngIf="loginForm.get('password')?.errors?.['required']">
            Your password is required.
        </small>

        <small class="form-text text-danger" *ngIf="loginForm.get('password')?.errors?.['minlength']">
            Your password is required to be at least 4 characters.
        </small>

        <small class="form-text text-danger" *ngIf="loginForm.get('password')?.errors?.['maxlength']">
            Your password cannot be longer than 50 characters.
        </small>
    </div>

        <div class="button">
          <button type="submit" color="primary" mat-raised-button>Login</button>
        </div>
        </form>
    </mat-card-content>
  </mat-card>
</div>
